body {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Roboto', 'sans-serif';
}

.card {
    background: #000;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

img {
    height: 40%;
}